<!DOCTYPE html>
<html>

<head>
    <title>Jogja Car Rent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="assets/icon/car.ico">

    <!-- ----------------bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- -------angular -->
    <link rel="stylesheet" href="/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- -------css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style1.css">
</head>

<body>
    <!-- ---------------------------------Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Jogja CarRent</a>

        <div class="navbar navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalog.html">Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactUs.html">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#masuk">
                    <a href="#" class="font-color">Sign In</a>
                </button>
            </form>
        </div>
    </nav>

    <div ng-app="shoppingList" ng-controller="ctrl">
        <ul>
            <li ng-repeat="x in products">
                {{x}}
                <span ng-click="removeItem($index)">&times;</span>
            </li>
        </ul>
        <input ng-model="addMe">
        <button ng-click="addItem()">Add</button>
        <p>{{errortext}}</p>
    </div>

    <script type="text/javascript">
        var app = angular.module("shoppingList", []);

        app.controller("ctrl", function($scope) {
            $scope.products = ["Milk", "Bread", "Cheese"];

            $scope.addItem = function() {
                $scope.errortext = "";
                if (!$scope.addMe) {
                    return;
                }
                if ($scope.products.indexOf($scope.addMe) == -1) {
                    $scope.products.push($scope.addMe);
                } else {
                    $scope.errortext = "The item is already in your shopping list.";
                }
            }

            $scope.removeItem = function(x) {
                $scope.errortext = "";
                $scope.products.splice(x, 1);
            }
        });
    </script>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
        <div style="background-color: teal;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0"><i class="fas fa-info-circle"></i> Get connected with us on social networks!</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container font-color text-center text-md-left mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Car Rental</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Kami menyediakan layanan sewa mobil untuk kenyamanan anda belibur di kota jogja!. kami menawarakan berbagai jenis mobil sesuai dengan kebutuhan anda.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Jasa</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-car"></i>
                        <a href="catalog.html">   Catalog Mobil</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Social Media</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fab fa-facebook"></i>
                        <a href="https://www.facebook.com">Facebook</a>
                    </p>
                    <p>
                        <i class="fab fa-instagram"></i>
                        <a href="#!">Instagram</a>
                    </p>
                    <p>
                        <i class="fab fa-twitter"></i>
                        <a href="#!">Twitter</a>
                    </p>
                    <p>
                        <i class="fab fa-google-plus-g"></i>
                        <a href="#!">Google</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i>jl. Dongkelan No. 350</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> ikhwancandraa@gmail.com </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +62 87 8126 34 344 </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> +62 87 8126 34 344 </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3 font-color">© 2019 Copyright:
            <a href="www.ikhwancandraa.github.io/kelompok15_FP"> CarRent.com</a>
        </div>
    </footer>
</body>

</html>